<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Add Employee!</h1>
     <p>  FirstName <input type="text" id="firstName" placeholder="First Name" /></p>
        <br>
     <p>  LastName <input type="text" id="lastName" placeholder="Last Name" /></p>
        <br>
      <p> Department<input type="text" id="department" placeholder="department" /></p><br>
      
      <p>  Designation<input type="text" id="designation" placeholder="designation" /></p><br>
      
      <p> Phone  <input type="text" id="phoneno" placeholder="phoneno" /></p>
      
      <br> Salary  <input type="text" id="salary" placeholder="salary" /><br>
      
      <input type="hidden" id="id"/>
      
      <br><input type="button" value="submit"/>
      
    </body>
</html>